$COMPENSATION: 250px;

.filter-section {
  background: #fff;
  padding: 50px 0;
}

.filter-results-section {
  .loading-results {
    padding: 5vw;
  }
}

.filter-selects-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style: none;

  .filter-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% / 3 - 40px);
    color: #848484;

    figure {
      flex: 1;
    }

    img {
      display: block;
      max-width: 103px;
      max-height: 75px;
      margin-bottom: 10px;

      &.is-inverted {
        transform: scaleX(-1);
      }
    }

    .label {
      font-size: 14px;
    }

    select {
      appearance: none;
      color: var(--gray-2-color);
      width: 100%;
      margin-top: 10px;
      border-radius: $default-gap;
      background: var(--white-color);
      border-color: var(--gray-1-color);
      padding: 10px;
      cursor: pointer;
    }
  }
}

.filter-empty {
  color: #A9A9A9;
  background: transparent url('/src/images/illustrations/no-results.png') no-repeat calc(100% - #{$COMPENSATION}) center;
  padding: 120px 0;
  @media (max-width: $breakpoint) {
    padding: $default-gap 0;
    background-position: bottom center;
    padding-bottom: $COMPENSATION;
  }

  .section-title {
    font-size: 45px;
    font-weight: 700;
    @media (max-width: $breakpoint) {
      margin-bottom: $default-gap;
    }
  }

  p {
    margin: 0;
    font-size: 16px;

    &:not(.section-title) {
      max-width: $COMPENSATION;
    }
  }
}

.filter-results-header {
  padding: $default-gap 0;

  &-icon {
    margin-bottom: $default-gap;
    max-width: 145px;
    @media (min-width: $breakpoint) {
      margin: $default-gap 0;
      max-width: 160px;
    }
  }

  &-title {
    font-size: 40px;
    @media (min-width: $breakpoint) {
      font-size: 55px;
    }
  }
}


.filter-results-list {
  color: #A9A9A9;
  display: flex;
  padding: 0;

  @media (max-width: $breakpoint) {
    overflow: auto;
  }
  @media (min-width: $breakpoint) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $default-gap;
  }
}

.btn-scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $default-gap / 2;
  align-self: stretch;
  margin: 5vw auto;
  border-radius: 25px;
  color: var(--primary-color);
  border-color: var(--primary-color);
  font-size: 16px;
  img {
    margin: 0 $default-gap / 2;
  }
}

@media (max-width: $breakpoint) {
  .filter-selects-container {
    flex-direction: column;
  }
  .filter-selects-container {
    .filter-block {
      width: 100%;
      margin: $default-gap 0;
    }
  }
  .filter-results-section {
    padding: $default-gap 0;
  }
}


