@import "variables";
@import "scaffolding";
@import "helpers";
@import "hero";

.application-content {
  width: 900px;
  margin: 0 auto;
  background: aqua;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  list-style-position: inside;

  .filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% / 3 - 40px);
    img {
      display: block;
      max-width: 103px;
      max-height: 75px;

      &.is-inverted {
        transform: scaleX(-1);
      }
    }

    select {
      width: 100%
    }
  }
}

.container {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .container {
    max-width: 65%;
    margin: 0 auto;
  }

  .application-header {
    margin: 0 auto;
    flex-direction: column;

    .header-section {

    }
  }
}


