*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font-family);
  background: #F6F6F6;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 65vw;
  margin: 0 auto;
  @media (max-width: $breakpoint) {
    max-width: 80vw;
    margin: 0 auto;
  }
}

