:root {
  --main-font-family: 'Montserrat', sans-serif;
  --primary-color: #15573F;
  --secondary-color: #FD9872;
  --tertiary-color: #75BC97;

  --size-sm: 5px;
  --size-md: 10px;
  --size-lg: 15px;
}

$breakpoint: 600px;
